---
layout: default
title: "Archiv"
permalink: /archiv/
---

<div class="tags">
  
  <div class="tags-header">
    <h2 class="tags-header-title">{{ page.title }}</h2>
    <div class="tags-header-line"></div>
  </div>
  
  <div class="tags-clouds">
    {% for tag in site.tags %}
    <a href="#{{ tag[0] }}">{{ tag[0] }}</a>
    {% endfor %}
  </div>
  
  {% for tag in site.tags %}
  
  <div class="tags-item" id="{{ tag[0] }}">
    <h2 class="tags-item-label">{{ tag[0] }}</h2>
    
    {% for post in tag[1] %}
    <a class="tags-post" href="{{ post.url | prepend: site.baseurl }}">
      
      <div>
        <span class="tags-post-title">{{ post.title }}</span>
        <div class="tags-post-line"></div>
      </div>
      
      <span class="tags-post-meta">
        <time datetime="{{ post.date }}">
          {{ post.date | date:"%Y-%m-%d" }}
        </time>
      </span>
      
    </a>
    {% endfor %}
  </div>
  
  {% endfor %}
</div>




<div>
  {% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <h2 id="{{ this_year }}-ref">{{this_year}}</h2>
    <ul>
    {% endif %}

    <li><a href="{{ post.url }}">{{ post.title }}</a></li>

    {% if forloop.last %}
    </ul>
    {% else %}
        {% if this_year != next_year %}
        </ul>
        <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
        <ul>
        {% endif %}
    {% endif %}
{% endfor %}
</div>

