<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <img class="logo" src="{{ '/assets/favicon-750x750.png' | prepend: site.baseurl }}" alt="Logo" style="width: 2rem; height: 2rem">
      <h1 class="nav-title">{{ site.title }}</h1>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">Posts</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">Tags</a></li>
      <li><a href="{{ '/archiv' | prepend: site.baseurl }}">Archiv</a></li>
      <li><a href="{{ '/der-autor' | prepend: site.baseurl }}">Der Autor</a></li>
    </ul>
  </div>
</nav>
