.contact-form {
  font-family: $serif-primary;
  font-size: 1rem;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: $serif-primary;
  font-size: 1rem;
}

.file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 3px 6px;
  cursor: pointer;
  font-family: $serif-primary;
  font-size: 1rem;
}

.submit-button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 24px;
  margin-bottom: 16px;
  font-family: $serif-primary;
  font-size: 1rem;

  :hover {
    background-color: #45a049;
  }
}

.c-success {
  position: relative;
  text-align: center;
  margin: 4rem 0;

  &-title {
    font-size: 4rem;
    margin: 1rem 0;
  }

  &-line {
    border-top: 0.4rem solid $default-shade;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

  &-message {
    max-width: 25rem;
    margin: 0 auto;
  }
}
