.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 1px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
  
  .file-upload {
  border: 1px solid #ccc;
    display: inline-block;
    padding: 3px 6px;
    cursor: pointer;
  }
  
  input[type="file"] {
    display: none;
}

.submit-button {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  margin-top: 24px;
  margin-bottom: 16px;
}

.submit-button:hover {
  background-color: #45a049;
}

.container {
  padding: 10px;
}
