---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Verfasst von</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>am</span><time datetime="{{ page.date }}">{% include date-german.html %}</time> 
    {% endif %}
    
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>
  
  <div class="tags-clouds">
    <a href="{{ site.url }}/tags/#{{ page.tags }}">{{ page.tags }}</a>
  </div>
  
  <ul class="tags">
  {% for tag in page.tags %}
  <li class="weight-{{ tag.weight | round }}">
    <a title="Site Tag: {{ tag }}" href="{{ site.url }}/tags#{{ page.tags }}">
      {{ tag }}
    </a>
  </li>
  {% endfor %}
</ul>
  

  {{ content }}
  
  {% include related-posts.html %}
  
</div>

{% if page.comments %}
  {% include disqus_comments.html %}
{% endif %}

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">nach oben</a>
</div>
